DB_NAME=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=

PORT=3000

SECRET_KEY_AUTH=@_auth_gestion_de_rdv
SECRET_KEY_OTP=@_otp_gestion_de_rdv


EMAIL_USER=millogoaugustin10@gmail.com
EMAIL_PASSWORD=muzyxnjgbcebkbmi


ADMIN_FULLNAME=Administrateur
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=1234!?78