# config DB

DB_NAME=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=


# Port serveur express

PORT=


# clé d'authentification

SECRET_KEY_AUTH=
SECRET_KEY_OTP=


# SMPT gmail par défaut (à changer si vous en avez)

EMAIL_USER=millogoaugustin10@gmail.com
EMAIL_PASSWORD=muzyxnjgbcebkbmi


# Admin par défaut (configurer avant de lancer le seed)

ADMIN_FULLNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=